<div class="Mdiv1">
  <div class="Mdiv2">
    <div class="head">
      <div class="d">
        <img
          src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
          class="imgIcon"
          alt=""
        />
      </div>
      <div>
        <button (click)="showMenu()" type="button" class="menubtn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>
    </div>
    <div [hidden]="isShow">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <a href="#" class="menuItem">Product</a>

        <a href="#" class="menuItem">Features</a>

        <a href="#" class="menuItem">Marketplace</a>

        <a href="#" class="menuItem">Company</a>
      </div>
      <a href="#" class="menuItem"> Log in </a>
    </div>
  </div>
</div>
<main class="main1">
  <div class="maindiv1">
    <h1 class="maindiv2">
      <span class="line1">Data to enrich your</span>
      <span class="line2">online business</span>
    </h1>
    <p class="para">
      Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem
      cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
    </p>
    <div class="btns">
      <div>
        <a href="#" class="btnStarted"> Get started </a>
      </div>
      <div class="">
        <a href="#" class="btnlive"> Live demo </a>
      </div>
    </div>
  </div>
</main>

<div class="imgdiv">
  <img
    class="imgStyle"
    src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"
    alt=""
  />
</div>
