<div class="relative bg-white overflow-hidden">
  <div class="max-auto max-w-7xl flex-1">
    <div class="justify-between sm:pb-16">
      <div
        class="relative z-10 pb-8 fl sm:pb-2 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32"
      >
        <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        />
        <i class="glyphicon glyphicon-user bg-blue-800"></i>
        <button
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center"
        >
          <svg
            class="h-8 w-8 text-black"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 10h16M4 14h16M4 18h16"
            />
          </svg>
        </button>
      </div>
      <div>
        <p class="text-black font-bold">Data to enrich your</p>
        <p class="textstyle">online business</p>
      </div>
      <div>
        <p>
          Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem
          cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat
          aliqua.
        </p>
      </div>
      <div class="flex-wrap">
        <button class="btn btn-blue hover object-contain">Get started</button>

        <button class="btn btn-white hover object-contain">Live Demo</button>
      </div>
      <div>
        <img
          src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"
          alt="An image"
        />
      </div>
    </div>
  </div>
</div>
