.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.menu {
  src: 'https://img.icons8.com/ios/50/000000/menu.png';
  background-color: gray;
}
.textstyle {
  text: blue -700px;
}
